div, h1, h2{
    color: red;
}
b{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
ol{
    color: rgb(173, 0, 0);
    line-height: 35px;
}
#id1{
    color: rgb(146, 28, 20);
    letter-spacing: 4px;
    font-family:'Times New Roman', Times, serif;
}
p{
    color: rgb(151, 15, 15);
    font-family: 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
    color: rgb(196, 14, 14);
}